numpy==1.16.6
scipy==1.2.3
sklearn==0.20.4
joblib==0.14.1
tqdm==4.60.0
click==7.1.2
cython==0.29.23
pillow==6.2.2
fasteners
h5py
pymp-pypi
plyfile
git+https://github.com/classner/clustertools.git#egg=clustertools
chumpy==0.70
opencv-python==4.1.0
opendr==0.76
pyoctree
natsort

