numpy
scipy
sklearn
joblib
tqdm
click
cython
pillow
fasteners
h5py
pymp-pypi
plyfile
git+https://github.com/classner/clustertools.git#egg=clustertools
chumpy
opencv-python==3.3.1.11
opendr==0.76
pyoctree

